name: Sync tokens to Figma
on:
  push:
    paths:
      - '.github/workflows/sync-tokens-to-figma.yml'
  workflow_dispatch:
    inputs:
      file_key:
        description: 'The file key of the Figma file to be updated'
        required: false
        default: ${{ vars.FILE_KEY }}

jobs:
  sync-tokens-to-figma:
    runs-on: ubuntu-latest
    steps:
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.16.0'

      - name: Set NPM version
        run: npm install -g npm@9.5.1

      - name: Clone repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Sync tokens to Figma file
        run: npm run sync-tokens-to-figma
        env:
          FILE_KEY: ${{ github.event.inputs.file_key || vars.FILE_KEY }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_ACTION_VARIABLES_SYNC_FIGMA_TOKEN }}
          TOKENS_DIR: tokens/ui-foundations
